* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

.sticky-top {
  position: sticky;
  z-index: 1;
  top: 0px;
  background-color: cadetblue;
  margin: 0px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.logo {
  width: 40px;
  height: 40px;
}
.transformed-text {
  font-family: 'Kotta One', serif !important;
  transform: translate(-5px, -3px) rotate(-5deg);
  box-shadow: 4px 7px #414040;
  border: 2px solid rgb(97, 24, 91);
  color: rgb(255, 255, 255);
  background-color: rgb(190, 64, 248);
}
